# ============================================================
# build_config.toml — Feature flags for compilation
# ============================================================
# bool  true  → adds  -DKEY          (enables #ifdef KEY)
# bool  false → omitted              (disables #ifdef KEY)
# string/int  → adds  -DKEY="value"  (accessible as a macro)
# ============================================================

ENABLE_LOGGING      = true
ENABLE_ASSERTIONS   = true

MAX_NUM_CPUS        = 8
KMALLOC_NUM_BINS    = 7

# from 0 to 4
LOG_LEVEL           = 4
VERSION_MAJOR       = 0
VERSION_MINOR       = 0
VERSION_PATCH       = 1
